/* Style für alles im Body Bereich */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: #333;
}

/* Header-Style */
header {
  background-color: #1f2937;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #34D399;
  font-size: 2.5em;
  margin: 0;
  cursor: pointer;
}

/* Navigationseinstellungen */
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #1f2937;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover,
nav ul li.active a {
  background-color: #34d399;
  text-decoration: none;
  transform: translateY(-2px);
}

/* QR-Code Container */
.qr-code-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.qr-code {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.qr-code:hover {
  transform: scale(1.1);
}

/* Dropdown-Inhalte */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f2937;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  top: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-content a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #34d399;
}

.show {
  display: block;
}

/* Hauptinhalt-Style */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Formular-Style */
form {
  margin: 0 auto;
  max-width: 800px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: #1f2937;
}

.green-text {
  color: #34d399;
}

/* Überschriften und Abschnitte */
h1,
h2 {
  color: #1f2937;
  margin-top: 0;
  font-weight: 600;
}

section {
  margin-bottom: 20px;
  background-color: #e5e7eb;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-style: transparent;
}

/* Eingabefelder und Buttons */
input[type="number"],
input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #1f2937;
  box-sizing: border-box;
}

input[type="button"],
button {
  padding: 10px 20px;
  background-color: #1f2937;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="button"]:hover,
button:hover {
  background-color: #34d399;
  transform: translateY(-2px);
}

p span {
  font-weight: bold;
}

/* Footer-Style */
footer {
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

/* QR-Overlay-Style */
.qr-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.qr-overlay img {
  max-width: 90%;
  max-height: 90%;
}

.qr-overlay.show {
  display: flex;
}

/* Scroll-to-Top Button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  background: linear-gradient(270deg, #1f2937, #34d399);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #34d399;
  transform: translateY(-2px);
}

/* Media-Query für kleine Bildschirme */
@media only screen and (max-width: 600px) {
  header {
    font-size: 18px;
  }

  nav ul li {
    display: block;
    margin: 5px 0;
  }

  input[type="number"],
  input[type="text"],
  textarea {
    width: calc(100% - 20px);
  }

  input[type="button"],
  button {
    width: 100%;
  }

  form {
    padding: 10px;
  }

  .qr-code-container {
    position: static;
    margin: 10px 0;
    text-align: center;
    transform: none;
  }

  .qr-code {
    width: 60px;
    height: 60px;
  }

  .qr-overlay img {
    max-width: 80%;
    max-height: 80%;
  }

  #scrollToTopBtn {
    bottom: 20px;
    right: 20px;
    padding: 8px 10px;
    font-size: 16px;
    width: auto;
  }

  .translate-container {
    position: static;
    transform: none;
    margin: 20px 0;
    text-align: center;
  }

  .translate-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

/* Formeltext-Stile */
.formel-text h3 {
  color: #1f2937;
  font-size: 1.5em;
  margin-top: 20px;
}

.formel-text p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.formel-text ul {
  list-style-type: disc;
  margin: 10px 0 20px 20px;
  padding: 0;
}

.formel-text .formula {
  background-color: #ebe5e5;
  border: 1px solid #1f2937;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  color: #1f2937;
}

/* Container für Übersetzungsoptionen */
.translate-container {
  position: absolute;
  top: 50%;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateY(-50%);
}

.translate-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .translate-container {
    position: static;
    transform: none;
    margin-top: 10px;
    text-align: center;
  }

  .translate-container .translate-icon {
    display: inline-block;
  }

  .translate-container .dropdown-content {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .translate-container .dropdown-content a {
    padding: 10px;
  }

  footer .translate-container {
    position: static;
    margin-top: 10px;
    text-align: center;
  }

  .video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
}
