body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d1e7d3;
}

header {
  background-color: #3b6e30;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

form {
  margin: 0 auto;
  max-width: 800px;
}

h1, h2 {
  color: #3b6e30;
}

section {
  margin-bottom: 20px;
  background-color: #f0f8f0;
  padding: 20px;
  border-radius: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #3b6e30; 
}

input[type="button"] {
  padding: 10px 20px;
  background-color: #3b6e30; 
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

p span {
  font-weight: bold;
}

footer {
  background-color: #3b6e30;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 18px;
  }

  input[type="number"] {
    width: calc(100% - 20px);
  }

  input[type="button"] {
    width: 100%;
  }
